* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.frame {
  width: 500px;
  height: 500px;
  position: relative;
  overflow: hidden;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.cards {
  display: flex;
  position: absolute;
  transition: left 0.5s ease;
  left: 0;
}

.card {
  background-size: cover;
  background-position: center;
  width: 500px;
  height: 500px;
  flex-shrink: 0;
}

.rounds {
  position: absolute;
  z-index: 2;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.rounds button {
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border: 2px solid #ddd;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.rounds .active {
  background-color: #e67e22;
  transform: scale(1.2);
}

.triggers {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 3;
}

.triggers button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.triggers button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
